
<label for="name">
	<f:translate key="tx_glshop_domain_model_rahmenproduktvariante.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="beschreibung">
	<f:translate key="tx_glshop_domain_model_rahmenproduktvariante.beschreibung" />
</label><br />
	<f:form.textarea property="beschreibung" cols="40" rows="15" /><br />
<label for="bild">
	<f:translate key="tx_glshop_domain_model_rahmenproduktvariante.bild" />
</label><br />
	<f:form.textfield property="bild" /><br />
<label for="artNr">
	<f:translate key="tx_glshop_domain_model_rahmenproduktvariante.art_nr" />
</label><br />
	<f:form.textfield property="artNr" /><br />
<label for="laenge">
	<f:translate key="tx_glshop_domain_model_rahmenproduktvariante.laenge" />
</label><br />
	<f:form.textfield property="laenge" /><br />
<label for="dicke">
	<f:translate key="tx_glshop_domain_model_rahmenproduktvariante.dicke" />
</label><br />
	<f:form.textfield property="dicke" /><br />
<label for="preis">
	<f:translate key="tx_glshop_domain_model_rahmenproduktvariante.preis" />
</label><br />
	<f:form.textfield property="preis" /><br />