
<table class="tx-glshop" >
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_rahmenproduktvariante.name" />
		</td>
		<td>
		{rahmenproduktvariante.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_rahmenproduktvariante.beschreibung" />
		</td>
		<td>
		{rahmenproduktvariante.beschreibung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_rahmenproduktvariante.bild" />
		</td>
		<td>
		{rahmenproduktvariante.bild}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_rahmenproduktvariante.art_nr" />
		</td>
		<td>
		{rahmenproduktvariante.artNr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_rahmenproduktvariante.laenge" />
		</td>
		<td>
		{rahmenproduktvariante.laenge}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_rahmenproduktvariante.dicke" />
		</td>
		<td>
		{rahmenproduktvariante.dicke}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_rahmenproduktvariante.preis" />
		</td>
		<td>
		{rahmenproduktvariante.preis}
		</td>
	</tr>
</table>