<div id="profil-info-tooltip" class="konfiguratorTooltip">
	<h5><b>Profilserie</b></h5>
	<div class="clearer"></div>
	<h6>W&auml;hlen Sie bitte in diesem Bereich die gew&uuml;nschte Profilserie aus.</h6>
	<p>Folgende Profile stehen Ihnen zur Auswahl:</p>

	<dl>
		<dt>AUXO</dt>
		<dd><b>Material:</b> Aluminium</dd>
		<dd><b>Verf&uuml;gbare Farben:</b> Silber EV1, NIRO, Schwarz, Wei&szlig;</dd>
		<dd><b>Bautiefe:</b> 28mm</dd>
		<dd><b>Ansichtsbreite:</b> 13mm</dd>
		<dd>Dieses Profil bietet Platz f&uuml;r eine Frontscheibe (z.B. als Motivtr&auml;ger)</dd>
		<dd><b>Aufbau:</b> Reflektor, Lichtstreuplatte, Frontscheibe</dd>
	</dl>
	<dl>
		<dt>THALLO</dt>
		<dd><b>Material:</b> Aluminium</dd>
		<dd><b>Verf&uuml;gbare Farben:</b> Silber EV1, NIRO, Schwarz, Wei&szlig;</dd>
		<dd><b>Bautiefe:</b> 23mm</dd>
		<dd><b>Ansichtsbreite:</b> 13mm</dd>
		<dd>Als Motivträger kann z.B. eine Backlit Folie verwendet werden</dd>
		<dd><b>Aufbau:</b> Reflektor, Lichtstreuplatte</dd>
	</dl>
</div>

<div id="front-info-tooltip" class="konfiguratorTooltip">
	<h5><b>Frontscheibe</b></h5>
	<div class="clearer"></div>
	<h6>W&auml;hlen Sie bitte in diesem Bereich die gew&uuml;nschte Frontscheibe aus.</h6>
	<h6>Sollten Sie unser Profil THALLO ausgew&auml;lt haben, bleibt dieser Bereich ohne Funktion.</h6>
	<p>Folgende Frontscheiben stehen Ihnen zur Auswahl:</p>
	<dl>
		<dt><b>Echtglas</b> mit 4 oder 5 mm St&auml;rke</dt>
		<dd><b>Varianten:</b> Floatglas*, Wei&szlig;glas**, Satinato***</dd>
		<dd>Verf&uuml;gbar auch als Glas mit Sicherheitseigenschaften (ESG****) </dd>
	</dl>
	<dl>
		<dt><b>Kunstglas</b> mit 4 oder 5 mm St&auml;rke</dt>
		<dd><b>Varianten:</b> Acrylglas farblos, Setasand***</dd>
		<dd>Verf&uuml;gbar auch als Glas mit Sicherheitseigenschaften (Polycarbonat) </dd>
	</dl>
	<h6>Sollten Sie selbst &uuml;ber eine geeignete Frontscheibe verf&uuml;gen, finden Sie einen entsprechenden Eintrag in der Auswahl.</h6>
	<h7>Hinweis:<br/>
		* gew&ouml;hnliches Glas mit einem Gr&uuml;nstich<br/>
		** transparentes Klarglas mit einem sehr geringen Gr&uuml;nstich<br/>
		*** Oberfl&auml;che ge&auml;tzt, Erscheinungsbild milchig-tr&uuml;b<br/>
		**** Einscheibensicherheitsglas
	</h7>
</div>

<div id="led-info-tooltip" class="konfiguratorTooltip">
	<h5><b>LED</b></h5>
	<div class="clearer"></div>
	<h6>W&auml;hlen Sie bitte in diesem Bereich die gew&uuml;nschte LED Farbe aus.</h6>
	<p>Folgende Lichtfarben stehen Ihnen zur Auswahl:</p>
	<dl>
		<dt><b>neutralwei&szlig;</b></dt>
		<dd>4000K</dd>
		<dd>Farbwiedergabeindex (RA) >90 </dd>
		<dt><b>kalt/warmwei&szlig; CCT</b></dt>
		<dd>3000K-6000K</dd>
		<dd>Lichtfarbe kann beliebig mit einem CCT-Controller gemischt werden*</dd>
		<dd>Farbwiedergabeindex (RA) >80 </dd>
		<dt><b>RGB</b></dt>
		<dd>Lichtfarbe kann beliebig mit einem RGB-Controller gemischt werden*</dd>
	</dl>
	<h6>Bitte beachten Sie, dass der Preis erst nach Auswahl der Lichtstreuplatte und Position der LED-Streifen aktualisiert wird.</h6>
	<h7>Hinweis:<br/>
		* Im Lieferumfang ist ein passender Bluetooth-Controller enthalten. 
		Damit die Farben beliebig gemischt werden k&ouml;nnen, ist eine zus&auml;tzliche APP auf Ihrem Smartphone notwendig.
		Zus&auml;tzlich ist ein Handschalter zum Ein-/Ausschalten und durchw&auml;hlen von mit der APP eingestellten Farben enthalten.
		Alle verf&uuml;gbar f&uuml;r Android und iOS, RGB auch f&uuml;r Windows-Phone.
	</h7>
</div>

<div id="streuplatte-info-tooltip" class="konfiguratorTooltip">
	<h5><b>Lichtstreuplatte</b></h5>
	<div class="clearer"></div>
	<h6>W&auml;hlen Sie bitte in diesem Bereich die gew&uuml;nschte Lichtstreuplatte und die Position der LED's aus.</h6>
	<p>Folgende Streuplatten stehen Ihnen zur Auswahl:</p>
	<dl>
		<dt><b>L</b></dt>
		<dd><b>Leuchtstrecke:</b> akzeptabel gleichm&auml;&szlig;ig bis 300mm</dd>
		<dt><b>XL</b></dt>
		<dd><b>Leuchtstrecke:</b> akzeptabel gleichm&auml;&szlig;ig bis 600mm</dd>
	</dl>
	<h6>&Uuml;ber die Buttons Links/Oben/Rechts/Unten k&ouml;nnen Sie die Position der LED Streifen bestimmen. Durch erneutes Klicken, wird Ihre Auswahl entfernt.</h6>
	<h6>Mit unserer dynamischen Live-Vorschau, sehen Sie sofort, welche Streuplatte und Position der LED Streifen für Ihre Rahmenma&szlig;e geeignet ist!</h6>
	<h6>Wir empfehlen Ihnen bei Leuchtstrecken ab 300mm die Verwendung der Lichtstreuplatte "XL".</h6>
	<h5><b>
			Hinweis:</b><br/>
		Sie k&ouml;nnen sehr wohl Leuchtstrecken bis 600mm mit einseitiger Lichteinspeisung 
		bei Verwendung einer Lichtstreuplatte "XL" akzeptabel gleichm&auml;&szlig;ig befeuern.<br/>
		Es ist aber so, dass Sie damit weniger Licht als bei gegenseitiger Befeuerung in die Platte einspeisen 
		und dieses wenigere Licht insgesamt zur Verf&uuml;gung steht. Das Leuchtfeld ist dunkler.
	</h5>
</div>

<div id="anschluss-info-tooltip" class="konfiguratorTooltip">
	<h5><b>Netzanschluss</b></h5>
	<div class="clearer"></div>
	<h6>W&auml;hlen Sie bitte in diesem Bereich den gew&uuml;nschten Netzanschluss aus.</h6>
	<p>Folgende M&ouml;glichkeiten stehen Ihnen zur Auswahl:</p>
	<dl>
		<dt><b>Kundenseitiger Anschluss (ohne Anschlusskabel)</b></dt>
		<dd>Elektrischer Anschluss 24V DC bauseits. Anschlussleistung nach Angabe.</dd>
		<f:comment><dt><b>Steckdose hinter dem Leuchtfeld</b></dt>
		<dd>Anschlu&szlig;fertig mit Winkelstecker</dd></f:comment>
		<dt><b>Steckdose au&szlig;erhalb des Leuchtfeldes</b></dt>
		<dd>Trafo au&szlig;erhalb des Leuchtfeldes, Niedervolt-Kabeldurchf&uuml;hrung durch den Rahmen, bedingt mitgeliefertem Trafo au&szlig;erhalb (Tisch- oder Steckernetzteil je nach Anschlussleistung).  Anschlusskabel-Buchse 5,5x2,1,  Anschlusskabell&auml;nge ca. 150cm.</dd>
	</dl>	
</div>

<div id="montage-info-tooltip" class="konfiguratorTooltip">
	<h5><b>Befestigung</b></h5>
	<div class="clearer"></div>
	<h6>W&auml;hlen Sie bitte in diesem Bereich die gew&uuml;nschte Befestigung aus.</h6>
	<p>Folgende M&ouml;glichkeiten stehen Ihnen zur Auswahl:</p>
	<dl>
		<dt><b>Wandmontage ohne Abhebesicherung*</b></dt>
		<dd>erh&auml;ltlich mit oder ohne Excentervertiefung**</dd>
	</dl>
	<dl>
		<dt><b>Wandmontage mit Abhebesicherung*</b></dt>
		<dd>erh&auml;ltlich mit oder ohne Excentervertiefung**</dd>
	</dl>
	<h6>

	</h6>
	<h7>Hinweis:<br/>
		* Abhebesicherung: im unteren Rahmen des Leuchtfeldes werden zwei weitere Aufh&auml;ngungen angebracht. 
		Damit wird verhindert, dass der Rahmen im unteren Bereich von der Wand abgehoben werden kann.<br/>
		** Excentervertiefung: Sie erhalten eine speziell f&uuml;r unsere Befestigung entwickelte Distanzscheiben, 
		damit zwischen dem Rahmen und der Wand genug Platz f&uuml;r Kabel, Trafo's usw. vorhanden ist oder auch eine Schattenfuge erstellt werden kann.
	</h7>
</div>