<div id="halter-ohneBohrung-info-tooltip" class="konfiguratorTooltip">
	<h5>Befestigung am Plattenrand</h5>
	<div class="clearer"></div>
	<p>Befestigungen in dieser Kategorie, werden am Plattenrand befestigt.</p>
	<p>Da f&uuml;r diese Art der Befestigung keine Bohrungen notwendig sind und jeder die Halter nach seinem eigenem Ermessen positioniert, wird diese Befestigung nicht auf der Skizze visualisiert.</p>	
</div>

<div id="halter-mitBohrung-info-tooltip" class="konfiguratorTooltip">
	<h5>Befestigung inkl. Bohrungen</h5>
	<div class="clearer"></div>
	<p>Befestigungen in dieser Kategorie, werden mit passenden Bohrungen auf der Platte versehen.</p>
	<p>In diesem Fall m&uuml;ssen Sie keine zus&auml;tzlichen Bohrungen unter dem Punkt "Bearbeitung" erfassen.</p>
	<h5>Eckauswahl</h5>
	<p>Die Eckauswahl entspricht der Eckbezeichnung auf der Skizze.</p>
	<p>Bitte geben Sie die Position des Halters, ausgehend von der gew&auml;hlten Ecke bis zur Haltermitte, an!</p>
	<dl>
		<dt>ALLE:</dt>
		<dd>Befestigung wird in jede Ecke mit den eingegebenen Abst&auml;nden positioniert.</dd>
		<dt>E1 - E4:</dt>
		<dd>Befestigung wird ausgehend von der gew&auml;hlten Ecke mit den eingegebenen Abst&auml;nden positioniert.</dd>
		<dt>FREI:</dt>
		<dd>Befestigungen werden ausgehend von der linken unteren Ecke (E4) platziert. Es ist m&ouml;glich beliebige Anzahl an Haltern zu erfassen.</dd>
	</dl>
</div>

<div id="ecken-info-tooltip" class="konfiguratorTooltip">
	<h5>Eckbearbeitung</h5>
	<div class="clearer"></div>
	<p>Sie k&ouml;nnen Ihre Platte mit einer Eckbearbeitung versehen. Wir bieten Ihnen Rundecken und Schr&auml;gecken an.</p>
	<p>Bitte beachten Sie, dass Rundecken in unserem Konfigurator nur im Zusammenhang mit einer Laserkantenbearbeitung m&ouml;glich sind. Wenn Sie dennoch eine andere Kantenbearbeitung mit Rundecken wünschen, bitten wir Sie eine Direktanfrage zu stellen.</p>
	<h5>Eckauswahl</h5>
	<p>Die Eckauswahl entspricht der Eckbezeichnung auf der Skizze.</p>
	<dl>
		<dt>ALLE:</dt>
		<dd>Es wird jede Ecke mit der selben Bearbeitung versehen.</dd>
		<dt>E1 - E4:</dt>
		<dd>Die Ecken können auch einzeln unterschiedlich bearbeitet werden.</dd>
	</dl>
</div>

<div id="bohrung-info-tooltip" class="konfiguratorTooltip">
	<h5>Bohrungen</h5>
	<div class="clearer"></div>
	<p>Sie k&ouml;nnen Ihre Platte mit Bohrungen versehen. Dazu geben Sie bitte den Bohrdurchmesser in das Feld "Bohr-&oslash;" ein.</p>
	<p>Die Abst&auml;nde zu der jeweiligen Ecke werden &uuml;ber die X und Y Achse definiert.</p>
	<h5>Eckauswahl</h5>
	<p>Die Eckauswahl entspricht der Eckbezeichnung auf der Skizze.</p>
	<p>Bitte geben Sie die Position des Bohrung, ausgehend von der gew&auml;hlten Ecke bis zur Bohrmitte, an!</p>
	<dl>
		<dt>ALLE:</dt>
		<dd>Bohrungen werden in jede Ecke mit den eingegebenen Abst&auml;nden angebracht.</dd>
		<dt>E1 - E4:</dt>
		<dd>Eine Bohrung wird ausgehend von der gew&auml;hlten Ecke mit den eingegebenen Abst&auml;nden positioniert.</dd>
		<dt>FREI:</dt>
		<dd>Bohrungen werden ausgehend von der linken unteren Ecke (E4) platziert. Es ist m&ouml;glich beliebige Anzahl an Bohrungen zu erfassen.</dd>
	</dl>
</div>

<div id="senkung-info-tooltip" class="konfiguratorTooltip">
	<h5>Senkbohrungen</h5>
	<div class="clearer"></div>
	<p>Sie k&ouml;nnen Ihre Platte mit Senkbohrungen versehen. Dazu w&auml;hlen Sie bitte den M-Durchmesser Ihrer Schrauben aus. Alle weiteren Angaben werden automatisch im Hintergrund ermittelt.</p>
	<p>Die Abst&auml;nde zu der jeweiligen Ecke werden &uuml;ber die X und Y Achse definiert.</p>
	<h5>Eckauswahl</h5>
	<p>Die Eckauswahl entspricht der Eckbezeichnung auf der Skizze.</p>
	<p>Bitte geben Sie die Position der Senkung, ausgehend von der gew&auml;hlten Ecke bis zur Senkungsmitte, an!</p>
	<dl>
		<dt>ALLE:</dt>
		<dd>Senkbohrungen werden in jede Ecke mit den eingegebenen Abst&auml;nden angebracht.</dd>
		<dt>E1 - E4:</dt>
		<dd>Eine Senkbohrung wird ausgehend von der gew&auml;hlten Ecke mit den eingegebenen Abst&auml;nden positioniert.</dd>
		<dt>FREI:</dt>
		<dd>Eine Senkbohrung wird ausgehend von der linken unteren Ecke (E4) platziert. Es ist m&ouml;glich beliebige Anzahl an Bohrungen zu erfassen.</dd>
	</dl>
</div>

<div id="kanten-info-tooltip" class="konfiguratorTooltip">
	<h5>Kantenbearbeitung</h5>
	<div class="clearer"></div>
	<p>Sie k&ouml;nnen f&uuml;r Ihre Platte eine der vorgeschlagenen Kantenbearbeitungen ausw&auml;hlen. Diese Bearbeitung gilt dann f&uuml;r alle Kanten.</p>
	<p>Wenn Sie eine besondere Katenbearbeitung, z.B. eine Mischung aus facettierter und polierter Kante bestellen m&ouml;chten, stellen Sie uns bitte eine Direktanfrage.</p>
	<p>Die ausgew&auml;hlte Bearbeitung wird sofort auf Ihre Platte angewendet und der Preis wird angepasst. Bei der facettierten Kantenbearbeitung m&uuml;ssen Sie zus&auml;tzlich Angaben zum Winkel und Facettenbreite machen.</p>
</div>

<div id="einzel-Halter-info-mB-tooltip" class="konfiguratorTooltip">
	<h5>Halter:&nbsp;<span class="tooltip-halter-name"></span></h5>
	<div class="clearer"></div>
	<p><b>Variante:</b>&nbsp;<span class="tooltip-halter-variante"></span></p>
	<p><b>Art.Nr.:</b>&nbsp;<span class="tooltip-halter-artNr"></span></p>
	<p><b>Preis:</b>&nbsp;<span class="tooltip-halter-preis"></span>&nbsp;&euro;</p>
	<p><b>Wandabstand:</b>&nbsp;<span class="tooltip-halter-wa"></span>&nbsp;mm</p>
	<p><b>F&uuml;r Materialst&auml;rken:</b>&nbsp;<span class="tooltip-halter-material"></span></p>
	<p><b>Halterma&szlig;e:</b>&nbsp;<span class="tooltip-halter-mas"></span>&nbsp;mm</p>
	<p><b>Bohr-&Oslash;:</b>&nbsp;<span class="tooltip-halter-bohrung"></span>&nbsp;mm</p>
</div>

<div id="einzel-Halter-info-oB-tooltip" class="konfiguratorTooltip">
	<h5>Halter:&nbsp;<span class="tooltip-halter-name"></span></h5>
	<div class="clearer"></div>
	<p><b>Variante:</b>&nbsp;<span class="tooltip-halter-variante"></span></p>
	<p><b>Art.Nr.:</b>&nbsp;<span class="tooltip-halter-artNr"></span></p>
	<p><b>Preis:</b>&nbsp;<span class="tooltip-halter-preis"></span>&nbsp;&euro;</p>
	<p><b>Wandabstand:</b>&nbsp;<span class="tooltip-halter-wa"></span>&nbsp;mm</p>
	<p><b>F&uuml;r Materialst&auml;rken:</b>&nbsp;<span class="tooltip-halter-material"></span></p>
	<p><b>Halterma&szlig;e:</b>&nbsp;<span class="tooltip-halter-mas"></span>&nbsp;mm</p>
</div>

<div id="material-info-tooltip" class="konfiguratorTooltip">
	<h5>Material:&nbsp;<span class="tooltip-material-name"></span></h5>
	<div class="clearer"></div>
	<p class="tooltip-material-info"></p>
</div>

<div id="eckBearbeitung-info-tooltip" class="konfiguratorTooltip">
	<h5>Eckbearbeitung in dieser Konfiguration ist nicht möglich!</h5>
	<div class="clearer"></div>
	<p>Runde Ecken sind nur in Kombination mit Laserbearbeitung möglich.</p>
</div>