
<label for="company">
	<f:translate key="tx_glshop_domain_model_shippingaddress.company" />
</label><br />
	<f:form.textfield property="company" /><br />
<label for="person">
	<f:translate key="tx_glshop_domain_model_shippingaddress.person" />
</label><br />
	<f:form.textfield property="person" /><br />
<label for="street">
	<f:translate key="tx_glshop_domain_model_shippingaddress.street" />
</label><br />
	<f:form.textfield property="street" /><br />
<label for="zip">
	<f:translate key="tx_glshop_domain_model_shippingaddress.zip" />
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="city">
	<f:translate key="tx_glshop_domain_model_shippingaddress.city" />
</label><br />
	<f:form.textfield property="city" /><br />