
<table class="tx-glshop" >
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_shippingaddress.company" />
		</td>
		<td>
		{shippingaddress.company}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_shippingaddress.person" />
		</td>
		<td>
		{shippingaddress.person}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_shippingaddress.street" />
		</td>
		<td>
		{shippingaddress.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_shippingaddress.zip" />
		</td>
		<td>
		{shippingaddress.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_shippingaddress.city" />
		</td>
		<td>
		{shippingaddress.city}
		</td>
	</tr>
</table>