<div class="lighting-top"></div>
<div class="container-fluid main-title">
	<div class="container">
		<div class="row">
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<h3 style="margin: 0px; color: #33976C; font-family: Arial; font-size: 24pt;">Produkte</h3>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<f:comment>
					<a href="" class="button produktActiveBtn">
						<div class="sprite-Kachel">
							<span>Kachel</span>
						</div>
					</a>
					<a href="" class="button produktNormalBtn">
						<div class="sprite-Liste">
							<span>Liste</span>
						</div>
					</a>
				</f:comment>
			</div>
		</div>
	</div>
</div>
<div class="bottom-diver-products"></div>
<div class="lighting-bottom"></div>


<f:render partial="Shop/Product/Elements/Filter" />
