
<table class="tx-glshop" >
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_order.date" />
		</td>
		<td>
		{order.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_order.article" />
		</td>
		<td>
		{order.article}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_order.comment" />
		</td>
		<td>
		{order.comment}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_order.formular" />
		</td>
		<td>
		{order.formular}
		</td>
	</tr>
</table>