
<label for="file">
	<f:translate key="tx_glshop_domain_model_confirmation.file" />
</label><br />
	<f:form.textarea property="file" cols="40" rows="15" /><br />
<label for="date">
	<f:translate key="tx_glshop_domain_model_confirmation.date" />
</label><br />
	<f:form.textfield property="date"  value="{confirmation.date->f:format.date()}" /><br />
<label for="send">
	<f:translate key="tx_glshop_domain_model_confirmation.send" />
</label><br />
	<f:form.textfield property="send" /><br />