
<label for="name">
	<f:translate key="tx_glshop_domain_model_produkt.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="anzeigeName">
	<f:translate key="tx_glshop_domain_model_produkt.anzeige_name" />
</label><br />
	<f:form.textfield property="anzeigeName" /><br />
<label for="bild">
	<f:translate key="tx_glshop_domain_model_produkt.bild" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="einzelVerkauf">
	<f:translate key="tx_glshop_domain_model_produkt.einzel_verkauf" />
</label><br />
	<f:form.checkbox property="einzelVerkauf" value="1" /><br />