.DS_Store
.idea
.env
nbproject
/var
/vendor
/cache
/web/*
!/web/html
!/web/.htaccess
!/web/info.php
!/web/typo3conf
/web/typo3conf/ext/*
!/web/typo3conf/LocalConfiguration.php
!/web/typo3conf/AdditionalConfiguration.php
!/web/typo3conf/ext/t3_glacryl
!/web/typo3conf/ext/glshop
!/web/fileadmin/css
!/web/fileadmin/js
!/web/fileadmin/fonts
!/web/fileadmin/images
!/web/fileadmin/*.html