<nav id="mobile-footer-data" class="navbar-fixed-bottom">
	<div class="container">
		<div class="row">
			<div class="col-xs-3 col-sm-2 col-md-2 navbar-left">
				<button id="addToCartMobileBtn" type="button" class="glButtonFullWidth btn btn-default btn-lg btn-block">
					<span class="sprite-Warenkorb_activeBtn"><span>WK</span></span>
				</button>
				<button  id="editCartMobileBtn" type="button" class="glButtonFullWidth btn btn-default btn-lg btn-block">
					<span class="sprite-Warenkorb_activeBtn"><span>Akt.</span></span>
				</button>
			</div>
			<div class="col-xs-3 col-sm-4 col-md-4" style="text-align: center;">
				<a id="show-mobile-img-btn" style="cursor: pointer; text-decoration: none; color: #454545;text-align: center;"><img width="50" src="typo3conf/ext/glshop/Resources/Public/Img/CAD.png"></a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 navbar-right">
				<p style="text-align: right; font-size: 12pt; color: #9A8B56; margin-bottom: -15px;"><span style="margin-right: 6px; vertical-align: middle; display: inline-block;">&sum;</span><span style="display: inline-block; vertical-align: middle;" class="cart-configuration-sumPrice"></span><br /><span>netto, zzgl. Versand</span></p>
			</div>
		</div>
		<div class="row" id="mobile-img-area">
			<div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: 15px; text-align: center;">
				<img id="konfigurator-img-mobile" src="" />
			</div>
		</div>
	</div>
</nav>