
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Condition</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_glshop" >
	<tr>
		<th><f:translate key="tx_glshop_domain_model_condition.days" /></th>
		<th><f:translate key="tx_glshop_domain_model_condition.reduction" /></th>
		<th><f:translate key="tx_glshop_domain_model_condition.netto" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{conditions}" as="condition">
		<tr>
			<td><f:link.action action="show" arguments="{condition : condition}"> {condition.days}</f:link.action></td>
			<td><f:link.action action="show" arguments="{condition : condition}"> {condition.reduction}</f:link.action></td>
			<td><f:link.action action="show" arguments="{condition : condition}"> {condition.netto}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{condition : condition}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{condition : condition}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Condition</f:link.action>
</f:section>