{namespace formvh=TYPO3\CMS\Form\ViewHelpers}
<f:form.validationResults for="{element.identifier}">

        <f:format.raw>
            <f:if condition="{validationResults.flattenedErrors}">
                <div class="hasError">
            </f:if>
            {elementContent}
            <f:if condition="{validationResults.flattenedErrors}">
                </div>
            </f:if>
            <f:comment>
            <f:if condition="{validationResults.flattenedErrors}">
                <span class="error help-block" role="alert">
                    <f:for each="{validationResults.errors}" as="error">
                        {error -> f:translate(key: 'LLL:{element.renderingOptions.translation.translationFile}:validation.error.{error.code}', arguments: error.arguments)}
                        <br />
                    </f:for>
                </span>
            </f:if>
            </f:comment>
        </f:format.raw>
        <f:if condition="{element.properties.elementDescription}">
            <span class="help-block">{formvh:translateElementProperty(element: element, property: 'elementDescription')}</span>
        </f:if>

</f:form.validationResults>
