
<label for="articleNr">
	<f:translate key="tx_glshop_domain_model_fixingoption.article_nr" />
</label><br />
	<f:form.textfield property="articleNr" /><br />
<label for="name">
	<f:translate key="tx_glshop_domain_model_fixingoption.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="description">
	<f:translate key="tx_glshop_domain_model_fixingoption.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="projection">
	<f:translate key="tx_glshop_domain_model_fixingoption.projection" />
</label><br />
	<f:form.textfield property="projection" /><br />
<label for="fromSize">
	<f:translate key="tx_glshop_domain_model_fixingoption.from_size" />
</label><br />
	<f:form.textfield property="fromSize" /><br />
<label for="toSize">
	<f:translate key="tx_glshop_domain_model_fixingoption.to_size" />
</label><br />
	<f:form.textfield property="toSize" /><br />
<label for="drillDownside">
	<f:translate key="tx_glshop_domain_model_fixingoption.drill_downside" />
</label><br />
	<f:form.textfield property="drillDownside" /><br />
<label for="borderLength">
	<f:translate key="tx_glshop_domain_model_fixingoption.border_length" />
</label><br />
	<f:form.textfield property="borderLength" /><br />
<label for="position">
	<f:translate key="tx_glshop_domain_model_fixingoption.position" />
</label><br />
	<f:form.textfield property="position" /><br />
<label for="diameter">
	<f:translate key="tx_glshop_domain_model_fixingoption.diameter" />
</label><br />
	<f:form.textfield property="diameter" /><br />
<label for="price">
	<f:translate key="tx_glshop_domain_model_fixingoption.price" />
</label><br />
	<f:form.textfield property="price" /><br />
<label for="pic">
	<f:translate key="tx_glshop_domain_model_fixingoption.pic" />
</label><br />
	<f:form.textarea property="pic" cols="40" rows="15" /><br />