
<label for="articleNr">
	<f:translate key="tx_glshop_domain_model_productoption.article_nr" />
</label><br />
	<f:form.textfield property="articleNr" /><br />
<label for="description">
	<f:translate key="tx_glshop_domain_model_productoption.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="pic">
	<f:translate key="tx_glshop_domain_model_productoption.pic" />
</label><br />
	<f:form.textarea property="pic" cols="40" rows="15" /><br />
<label for="price">
	<f:translate key="tx_glshop_domain_model_productoption.price" />
</label><br />
	<f:form.textfield property="price" /><br />
<label for="fromSize">
	<f:translate key="tx_glshop_domain_model_productoption.from_size" />
</label><br />
	<f:form.textfield property="fromSize" /><br />
<label for="toSize">
	<f:translate key="tx_glshop_domain_model_productoption.to_size" />
</label><br />
	<f:form.textfield property="toSize" /><br />
<label for="width">
	<f:translate key="tx_glshop_domain_model_productoption.width" />
</label><br />
	<f:form.textfield property="width" /><br />
<label for="length">
	<f:translate key="tx_glshop_domain_model_productoption.length" />
</label><br />
	<f:form.textfield property="length" /><br />
<label for="height">
	<f:translate key="tx_glshop_domain_model_productoption.height" />
</label><br />
	<f:form.textfield property="height" /><br />
<label for="size">
	<f:translate key="tx_glshop_domain_model_productoption.size" />
</label><br />
	<f:form.textfield property="size" /><br />