
<table class="tx-glshop" >
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_productoption.article_nr" />
		</td>
		<td>
		{productoption.articleNr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_productoption.description" />
		</td>
		<td>
		{productoption.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_productoption.pic" />
		</td>
		<td>
		{productoption.pic}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_productoption.price" />
		</td>
		<td>
		{productoption.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_productoption.from_size" />
		</td>
		<td>
		{productoption.fromSize}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_productoption.to_size" />
		</td>
		<td>
		{productoption.toSize}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_productoption.width" />
		</td>
		<td>
		{productoption.width}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_productoption.length" />
		</td>
		<td>
		{productoption.length}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_productoption.height" />
		</td>
		<td>
		{productoption.height}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_productoption.size" />
		</td>
		<td>
		{productoption.size}
		</td>
	</tr>
</table>