
<table class="tx-glshop" >
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_bordereditingoption.form_size" />
		</td>
		<td>
			{bordereditingoption.formSize}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_bordereditingoption.to_size" />
		</td>
		<td>
			{bordereditingoption.toSize}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_bordereditingoption.price" />
		</td>
		<td>
			{bordereditingoption.price}
		</td>
	</tr>
</table>