
<table class="tx-nmbeziehung" >
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_produkt.name" />
		</td>
		<td>
		{produkt.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_produkt.anzeige_name" />
		</td>
		<td>
		{produkt.anzeigeName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_produkt.bild" />
		</td>
		<td>
				<f:image src="{produkt.bild.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_produkt.einzel_verkauf" />
		</td>
		<td>
		{produkt.einzelVerkauf}
		</td>
	</tr>
</table>