
<label for="name">
	<f:translate key="tx_glshop_domain_model_cornerediting.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="form">
	<f:translate key="tx_glshop_domain_model_cornerediting.form" />
</label><br />
	<f:form.textfield property="form" /><br />
<label for="price">
	<f:translate key="tx_glshop_domain_model_cornerediting.price" />
</label><br />
	<f:form.textfield property="price" /><br />
<label for="pic">
	<f:translate key="tx_glshop_domain_model_cornerediting.pic" />
</label><br />
	<f:form.textarea property="pic" cols="40" rows="15" /><br />