
<table class="tx-glshop" >
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_cornerediting.name" />
		</td>
		<td>
		{cornerediting.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_cornerediting.form" />
		</td>
		<td>
		{cornerediting.form}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_cornerediting.price" />
		</td>
		<td>
		{cornerediting.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_cornerediting.pic" />
		</td>
		<td>
		{cornerediting.pic}
		</td>
	</tr>
</table>