{namespace femanager=In2code\Femanager\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:variable.set name="asterisk" value="" />
<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'address')}">
	<v:variable.set name="asterisk" value="*" />
</f:if>
<div class="col-xs-12 col-md-6">
	<label class="form-group">
		<femanager:form.textfield
				id="femanager_field_address"
				property="address"
				class="input-block-level"
				placeholder="{f:translate(key: 'tx_femanager_domain_model_user.address')}{asterisk}"
				additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'address')}" />
	</label>
</div>
