
<table class="tx-glshop" >
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_fixingoption.article_nr" />
		</td>
		<td>
			{fixingoption.articleNr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_fixingoption.name" />
		</td>
		<td>
			{fixingoption.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_fixingoption.description" />
		</td>
		<td>
			{fixingoption.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_fixingoption.projection" />
		</td>
		<td>
			{fixingoption.projection}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_fixingoption.from_size" />
		</td>
		<td>
			{fixingoption.fromSize}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_fixingoption.to_size" />
		</td>
		<td>
			{fixingoption.toSize}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_fixingoption.drill_downside" />
		</td>
		<td>
			{fixingoption.drillDownside}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_fixingoption.border_length" />
		</td>
		<td>
			{fixingoption.borderLength}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_fixingoption.position" />
		</td>
		<td>
			{fixingoption.position}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_fixingoption.diameter" />
		</td>
		<td>
			{fixingoption.diameter}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_fixingoption.price" />
		</td>
		<td>
			{fixingoption.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_fixingoption.pic" />
		</td>
		<td>
			{fixingoption.pic}
		</td>
	</tr>
</table>