<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<ul class="cart-menue">
				<li>
				<f:link.action action="index" controller="Cart">
					<div class="textCart active">Warenkorb</div>
				</f:link.action>
				</li>
				<li>
				<f:link.action action="index" controller="Checkout">
					<f:comment>
						<div class="arrow middle"></div>
						<div class="textCart middle">Kasse & bestellen</div>
						<div class="arrow rightArrow"></div>
					</f:comment>
					<div class="textCart">Kasse & bestellen</div>
				</f:link.action>
				</li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
</div>