
<label for="sessionId">
	<f:translate key="tx_glshop_domain_model_cart.session_id" />
</label><br />
	<f:form.textfield property="sessionId" /><br />
<label for="position">
	<f:translate key="tx_glshop_domain_model_cart.position" />
</label><br />
	<f:form.textfield property="position" /><br />
<label for="article">
	<f:translate key="tx_glshop_domain_model_cart.article" />
</label><br />
	<f:form.textarea property="article" cols="40" rows="15" /><br />
<label for="qty">
	<f:translate key="tx_glshop_domain_model_cart.qty" />
</label><br />
	<f:form.textfield property="qty" /><br />
<label for="price">
	<f:translate key="tx_glshop_domain_model_cart.price" />
</label><br />
	<f:form.textfield property="price" /><br />
<label for="pic">
	<f:translate key="tx_glshop_domain_model_cart.pic" />
</label><br />
	<f:form.textarea property="pic" cols="40" rows="15" /><br />