
<table class="tx-glshop" >
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_cart.session_id" />
		</td>
		<td>
			{cart.sessionId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_cart.position" />
		</td>
		<td>
			{cart.position}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_cart.article" />
		</td>
		<td>
			{cart.article}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_cart.qty" />
		</td>
		<td>
			{cart.qty}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_cart.price" />
		</td>
		<td>
			{cart.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_cart.pic" />
		</td>
		<td>
			{cart.pic}
		</td>
	</tr>
</table>