
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Produkt</h1>

<f:flashMessages />

<table  class="tx_glshop" >
	<tr>
		<th><f:translate key="tx_glshop_domain_model_produkt.name" /></th>
		<th><f:translate key="tx_glshop_domain_model_produkt.anzeige_name" /></th>
		<th><f:translate key="tx_glshop_domain_model_produkt.bild" /></th>
		<th><f:translate key="tx_glshop_domain_model_produkt.einzel_verkauf" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{produkts}" as="produkt">
		<tr>
			<td><f:link.action action="show" arguments="{produkt : produkt}"> {produkt.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{produkt : produkt}"> {produkt.anzeigeName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{produkt : produkt}"> {produkt.bild.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{produkt : produkt}"> {produkt.einzelVerkauf}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{produkt : produkt}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{produkt : produkt}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Produkt</f:link.action>
</f:section>