/*.input-group-icon {
    width: 100px;
}

.input-group-icon img {
    width: 100%;
    max-height: inherit;
    height: auto;
}
*/
.t3-page-column-header{
    padding-left:0;
    padding-right: 0;
}
.t3-page-column-header .t3-page-column-header-label{
    font-size: 18px;
    color: #fff;
    background: #27917e;
    font-family: Share,Verdana,Arial,Helvetica,sans-serif;
    padding: 2px 17px;
    letter-spacing: 3px;
    /*margin-right: 30%;*/
    text-shadow: -1px -1px #333;
}
.t3-grid-cell{
    background-color: #ecf2ef;
}
.flux-grid-column .t3-page-column-header .t3-page-column-header-label{
    font-size: 18px;
    background:#27917e;
    padding: 2px 17px;
    letter-spacing: 5px;
    margin-right: 0%;
    text-shadow: -1px -1px #333;
}
.flux-grid-column .t3-page-column-header{
    padding-left:0;
    padding-right: 0;
}

.t3-page-ce-body-inner > div > strong > a, .t3-page-ce-body-inner > strong > a {
    color: #333;
    font-size: 20px;
    font-family: Share,Verdana,Arial,Helvetica,sans-serif;
    line-height: 1.2;
}

.t3-page-column-header-icons {
    transition: opacity 0.15s ease-in;
    opacity: 0.7;
    position: absolute;
    right: 10px;
    bottom: 15px;
    background: #fff;
}
.exampleContent{
    margin-top: 12px;
    display: block;
}

.callout-notice {
    display:none;
}
.t3-page-ce-info{
    color:crimson;
}
.exampleContent {
    overflow: hidden;
}