<div id="add-Notice-To-Order-Dialog" title="Ihre Aktion war erfolgreich!" style="display: none;">
	<p>Ihre Konfiguration wurde erfolgreich in den Warenkorb gelegt!</p>
	
	<p>Sollen hinzugef&uuml;gte Artikeln aus der Merkliste entfernt werden?</p>
	<input type="hidden" id="notice-position-ids-added" />
</div>

<div id="notice-detail-Dialog" title="Ihre gespeicherte Artikeln" style="display: none;">
	<div id="notice-detail-header"></div>
	<div class="table-responsive" style="background-color: rgba(237,237,237,0.4);">
	<table id="notice-detail-table" class="table" style="width: 100%;">
		<colgroup>
			<col style="min-width: 10px; width:5%; text-align: center;" />
			<col style="min-width: 10px; width:5%; text-align: center;" />
			<col style="min-width: 20px; width:20%; text-align: center;" />
			<col style="min-width: 50px; width:50%; text-align: left;" />
			<col style="min-width: 10px; width:10%;" />
			<col style="min-width: 10px; width:10%;" />
		</colgroup>
		<thead>
			<tr>
				<th>Pos.</th>
				<th>Anzahl</th>
				<th>Ma&szlig;e</th>
				<th style="text-align:left;">Artikel</th>
				<th style="text-align:right;">&euro;/Stk.</th>
				<th style="text-align:right;">Summe</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
		<tfoot>
			
		</tfoot>
	</table>
	</div>
</div>