
<table class="tx-glshop" >
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_orderstate.name" />
		</td>
		<td>
			{orderstate.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_orderstate.value" />
		</td>
		<td>
			{orderstate.value}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_orderstate.acr" />
		</td>
		<td>
			{orderstate.acr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_orderstate.prefix" />
		</td>
		<td>
			{orderstate.prefix}
		</td>
	</tr>
</table>