<div class="row kasse-bemerkungen">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="panel">
			<div class="content">
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<input id="kasse-kommission" type="text" placeholder="Kommission">
						<label for="kasse-kommission">Kommission</label>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<textarea id="kasse-nachricht" placeholder="Ihre Nachricht" style="margin-bottom: 2px !important;padding-top: 6px !important;"></textarea>
						<label for="kasse-nachricht">Ihre Nachricht an uns</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>