<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<ul class="cart-menue">
			<li>
			<f:link.action action="index" controller="Cart">
				<div class="textCart">Warenkorb</div>
			</f:link.action>
			</li>
			<li>
			<f:link.action action="index" controller="Checkout">
				<f:comment>
					<div class="arrow middle active"></div>
					<div class="textCart middle active">Kasse & bestellen</div>
					<div class="arrow rightArrow active"></div>
				</f:comment>
				<div class="textCart active">Kasse & bestellen</div>
			</f:link.action>
			</li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</div>