
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Shopbereiche</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_glshop" >
	<tr>
		<th><f:translate key="tx_glshop_domain_model_shopbereiche.name" /></th>
		<th><f:translate key="tx_glshop_domain_model_shopbereiche.anzeige_name" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{shopbereiches}" as="shopbereiche">
		<tr>
			<td><f:link.action action="show" arguments="{shopbereiche : shopbereiche}"> {shopbereiche.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{shopbereiche : shopbereiche}"> {shopbereiche.anzeigeName}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{shopbereiche : shopbereiche}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{shopbereiche : shopbereiche}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Shopbereiche</f:link.action>
</f:section>