{namespace glacryl=Glacryl\Glshop\ViewHelpers}

<!-- Menue -->
<div class="footerMenue">
	<div class="container">
		<div class="bottom-diver-konfigurator"></div>
	</div>
	<div class="container" style="padding-bottom: 80px;">
		<ol class="breadcrumb navbar-left">
			<li><f:link.page pageUid="{settings.kontaktPage}">Kontakt</f:link.page></li>
			<li><f:link.page pageUid="{settings.impressumPage}">Impressum</f:link.page></li>
			<li><f:link.page pageUid="{settings.agbPage}">AGB</f:link.page></li>
			<li><f:link.page pageUid="{settings.datenschutzPage}">Datenschutz</f:link.page></li>
		</ol>
		<ol class="breadcrumb navbar-right">
			<li><a id="back-to-Top-Lnk" href="#menue-top-container">Top</a></li>
		</ol>
	</div>
</div>