{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:section name="MenuDirectory">
    <nav class="top-menu-container">
        <ul class="nav navbar-nav navbar-right">
        <v:menu.directory pages="{settings.folder.topLinks}" showHiddenInMenu="0" classFirst="first" classLast="last" classCurrent="current" classHasSubpages="dropdown" linkCurrent="0">
                <f:for each="{menu}" as="menuPages" iteration="iteration">
                    <li class="{menuPages.class}">
                        <f:if condition="{menuPages.current} == 1">
                            <f:then>
                                <span{f:if(then: ' title="{menuPages.subtitle -> f:format.raw()}"', condition:
                                '{menuPages.subtitle}')}>{menuPages.nav_title -> v:or(alternative: "{menuPages.title}")
                                -> f:format.raw()}</span>
                            </f:then>
                            <f:else>
                                <f:comment>
                                    <f:link.page pageUid="{menuPages.uid}">{menuPages.linktext}</f:link.page>
                                </f:comment>

                                <f:if condition="{menuPages.hasSubPages} == 1">
                                    <f:then>
                                        <a data-toggle="dropdown" target="{f:if(condition:'{menuPages.target}',then:'{menuPages.target}',else:'_self')}" class="dropdown-toggle" href="{menuPages.link}" {f:if(then: ' title="{menuPages.subtitle ->
                                        f:format.raw()}"', condition: '{menuPages.subtitle}')}>{menuPages.nav_title ->
                                        v:or(alternative: "{menuPages.title}") -> f:format.raw()} <b class="caret"></b></a>
                                        <f:render section="subMenuPages" arguments="{uid: menuPages.uid}"/>
                                    </f:then>
                                    <f:else>
                                        <a href="{menuPages.link}" target="{f:if(condition:'{menuPages.target}',then:'{menuPages.target}',else:'_self')}" {f:if(then: ' title="{menuPages.subtitle ->
                                        f:format.raw()}"', condition: '{menuPages.subtitle}')}>{menuPages.nav_title ->
                                        v:or(alternative: "{menuPages.title}") -> f:format.raw()}</a>
                                    </f:else>

                                </f:if>
                            </f:else>
                        </f:if>
                    </li>
                </f:for>
            </v:menu.directory>
            <li>
                <v:content.render contentUids="{0:'{settings.content.element.searchbox}'}" render="1" slide="-1" />
            </li>
        </ul>
    </nav>
</f:section>

<f:section name="subMenuPages">

    <v:page.menu pageUid="{uid}" excludePages="" classActive="active" classCurrent="current" classHasSubpages="" classFirst="first"
                 classLast="last">
        <ul class="dropdown-menu"><li class="sep"></li>
            <f:if condition="{menu}">
                <f:for each="{menu}" as="menuPages" iteration="iteration">
                    <li class="{menuPages.class}">
                        <f:if condition="{menuPages.current} == 1">
                            <f:then>
                                <span{f:if(then: ' title="{menuPages.subtitle -> f:format.raw()}"', condition:
                                '{menuPages.subtitle}')}>{menuPages.nav_title -> v:or(alternative: "{menuPages.title}")
                                -> f:format.raw()}</span>
                            </f:then>
                            <f:else>
                                <a href="{menuPages.link}" target="{f:if(condition:'{menuPages.target}',then:'{menuPages.target}',else:'_self')}" {f:if(then: ' title="{menuPages.subtitle ->
                                f:format.raw()}"', condition: '{menuPages.subtitle}')}>{menuPages.nav_title ->
                                v:or(alternative: "{menuPages.title}") -> f:format.raw()}</a>
                            </f:else>
                        </f:if>
                    </li>
                </f:for>
            </f:if>
        </ul>
    </v:page.menu>
</f:section>

<f:section name="SpecialMenu">
    <v:content.render column="4" pageUid="{settings.page.home}" render="0" as="ce">
        <nav>
            <ul class="header-menu list-inline">
                <f:for each="{ce}" as="iterator">
                    <v:page.menu.list pages="{iterator.pages}" showHiddenInMenu="0" class="" classCurrent="current"
                                      classFirst="first" classLast="last">
                        <f:for each="{menu}" as="menuItem">
                            <f:if condition="{menuItem.current} == 1">
                                <f:then>
                                    <li
                                    {f:if(then: ' class="{menuItem.class}"', condition: '{menuItem.class}')}><span>{menuItem.nav_title -> v:or(alternative: "{menuItem.title}")}</span></li>
                                </f:then>
                                <f:else>
                                    <li
                                    {f:if(then: ' class="{menuItem.class}"', condition: '{menuItem.class}')}><a
                                        href="{menuItem.link}">{menuItem.nav_title -> v:or(alternative:
                                    "{menuItem.title}")}</a></li>
                                </f:else>
                            </f:if>
                        </f:for>
                    </v:page.menu.list>
                </f:for>
            </ul>
        </nav>
    </v:content.render>

</f:section>
