<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="img-single-item">
    <div class="box-16x9">
        <div class="box-16x9-content" data-responsive-background-image="">
            <f:image image="{mediaElement}" title="{mediaElement.title}" alt="{mediaElement.alternative}" width="{settings.media.maxWidth}" maxWidth="{settings.media.maxWidth}" minWidth="{settings.media.maxWidth}" />
        </div>
    </div>
</div>

</html>