{namespace glacryl=Glacryl\Glshop\ViewHelpers}


<f:comment>DFutsur!!!!Removed bootstrap.min form required modules.!!!! </f:comment>
<f:be.container
		pageTitle="Glacryl Shop Backend"
		includeRequireJsModules="{
			0:'TYPO3/CMS/Glshop/jquery-1.11.1.min',
			1:'TYPO3/CMS/Glshop/jquery-ui-1.11.1.custom.min',
			2:'TYPO3/CMS/Glshop/Backend/prototype',
			4:'TYPO3/CMS/Glshop/jquery.fileDownload',
			5:'TYPO3/CMS/Glshop/jquery.dataTables.min',
			6:'TYPO3/CMS/Glshop/Backend/dataTables.natural',
			7:'TYPO3/CMS/Glshop/Backend/dataTables.date-de',
			8:'TYPO3/CMS/Glshop/Backend/xdate',
			9:'TYPO3/CMS/Glshop/Backend/bootstrap-datepicker.min',
			10:'TYPO3/CMS/Glshop/Backend/locales/bootstrap-datepicker.de.min',
			11: 'TYPO3/CMS/Glshop/Backend/Backend'
		}"
		includeCssFiles="{
			0:'{f:uri.resource(path:\'Css/smoothness/jquery-ui-1.10.4.custom.min.css\')}',
			1:'{f:uri.resource(path:\'Css/Backend/bootstrap.min.css\')}',
			2:'{f:uri.resource(path:\'Css/Backend/bootstrap-datepicker.min.css\')}',
			3:'{f:uri.resource(path:\'Css/Backend/datatables.min.css\')}',
			4:'{f:uri.resource(path:\'Css/Backend/Backend.css\')}'
		}"
>

<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:be.buttons.csh />
					<f:render section="button-toolbar" optional="true" />
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="Overview" action="index" controller="Backend" />
						<f:be.menus.actionMenuItem label="Bestellübersicht" action="list" controller="Order" />
						<f:be.menus.actionMenuItem label="Kundenverwaltung" action="backend" controller="Customer" />
						<f:be.menus.actionMenuItem label="Partnerlisten" action="backend" controller="Customer" />
						<f:be.menus.actionMenuItem label="Monatsabschluss" action="abschluss" controller="Backend" />
						<f:be.menus.actionMenuItem label="Mahnwesen" action="mahnung" controller="Backend" />

					</f:be.menus.actionMenu>
				</div>
				<div class="right">
					<f:be.pagePath />
					<f:be.pageInfo />
				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<div class="left">

				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>

		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages />
				<f:render section="content" />
			</div>
		</div>
	</div>

</f:be.container>
