<h3>Auftr&auml;ge</h3>

<table id="abschluss-tabelle" class="table table-striped">
	<f:comment><colgroup>
		<col width="120"> 
		<col width="*"> 
		<col width="*"> 
		<col width="*"> 
		<col width="*"> 
		<col width="*"> 
		<col width="*"> 
		<col width="*">
	</colgroup></f:comment>
	<thead>
		<tr>
			<th>RG-Nummer</th>
			<th>RG-Datum</th>
			<th>AU-Nr.</th>
			<th>Kd-Nr.</th>
			<th>Name</th>
			<th>Netto</th>
			<th>MwST Satz</th>
			<th>Steuer</th>
			<th>Brutto</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="9">Kein Zeitraum ausgew&auml;lt</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5" style="text-align: right; font-weight: bold;">Summen</td>
			<td style="font-weight: bold;" class="sumNetto">&nbsp;</td>
			<td>&nbsp;</td>
			<td style="font-weight: bold;" class="taxSum">&nbsp;</td>
			<td style="font-weight: bold;" class="sumBrutto">&nbsp;</td>
		</tr>
	</tfoot>
</table>
