<f:section name="DefaultBurger">
    <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> -->
    <button type="button" class="navbar-toggle menu-btn visible-xs visible-sm">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</f:section>

<f:section name="ToggleButton">
    <div class="toggle-button-container">
        <!-- TOGGLE BUTTON-->
        <div class="toggle-button" id="toggle-button" aria-label="open/close navigation"><span></span><span></span><span></span></div>
    </div>
</f:section>

<f:section name="BackendBurger">
    <v:content.render column="91" pageUid="{settings.page.home}" slide="-1" />
</f:section>

