
<table class="tx-glshop" >
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_request.date" />
		</td>
		<td>
			{request.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_request.title" />
		</td>
		<td>
			{request.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_request.text" />
		</td>
		<td>
			{request.text}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_request.files" />
		</td>
		<td>
			{request.files}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_request.done" />
		</td>
		<td>
			{request.done}
		</td>
	</tr>
</table>