
<label for="name">
	<f:translate key="tx_glshop_domain_model_rahmenprodukt.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="beschreibung">
	<f:translate key="tx_glshop_domain_model_rahmenprodukt.beschreibung" />
</label><br />
	<f:form.textarea property="beschreibung" cols="40" rows="15" /><br />
<label for="bild">
	<f:translate key="tx_glshop_domain_model_rahmenprodukt.bild" />
</label><br />
	<f:form.textfield property="bild" /><br />
<label for="artNr">
	<f:translate key="tx_glshop_domain_model_rahmenprodukt.art_nr" />
</label><br />
	<f:form.textfield property="artNr" /><br />
<label for="frontscheibe">
	<f:translate key="tx_glshop_domain_model_rahmenprodukt.frontscheibe" />
</label><br />
	<f:form.textfield property="frontscheibe" /><br />
<label for="sicherheit">
	<f:translate key="tx_glshop_domain_model_rahmenprodukt.sicherheit" />
</label><br />
	<f:form.textfield property="sicherheit" /><br />
<label for="preis">
	<f:translate key="tx_glshop_domain_model_rahmenprodukt.preis" />
</label><br />
	<f:form.textfield property="preis" /><br />