
<table class="tx-glshop" >
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_rahmenprodukt.name" />
		</td>
		<td>
		{rahmenprodukt.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_rahmenprodukt.beschreibung" />
		</td>
		<td>
		{rahmenprodukt.beschreibung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_rahmenprodukt.bild" />
		</td>
		<td>
		{rahmenprodukt.bild}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_rahmenprodukt.art_nr" />
		</td>
		<td>
		{rahmenprodukt.artNr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_rahmenprodukt.frontscheibe" />
		</td>
		<td>
		{rahmenprodukt.frontscheibe}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_rahmenprodukt.sicherheit" />
		</td>
		<td>
		{rahmenprodukt.sicherheit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_rahmenprodukt.preis" />
		</td>
		<td>
		{rahmenprodukt.preis}
		</td>
	</tr>
</table>