
<label for="thread">
	<f:translate key="tx_glshop_domain_model_bevel.thread" />
</label><br />
	<f:form.textfield property="thread" /><br />
<label for="drill">
	<f:translate key="tx_glshop_domain_model_bevel.drill" />
</label><br />
	<f:form.textfield property="drill" /><br />
<label for="bevel">
	<f:translate key="tx_glshop_domain_model_bevel.bevel" />
</label><br />
	<f:form.textfield property="bevel" /><br />
<label for="depth">
	<f:translate key="tx_glshop_domain_model_bevel.depth" />
</label><br />
	<f:form.textfield property="depth" /><br />