
<table class="tx-glshop" >
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_bevel.thread" />
		</td>
		<td>
			{bevel.thread}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_bevel.drill" />
		</td>
		<td>
			{bevel.drill}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_bevel.bevel" />
		</td>
		<td>
			{bevel.bevel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_bevel.depth" />
		</td>
		<td>
			{bevel.depth}
		</td>
	</tr>
</table>