<f:layout name="Backend" />

{namespace glacryl=Glacryl\Glshop\ViewHelpers}

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <f:flashMessages />

	<!-- Kundenverwaltung -->

	<div class="backend-partner-import">

		<f:debug>{_all}</f:debug><f:comment></f:comment>

		<h1>IMPORT<f:link.action action="partnerlisten" controller="Customer">Aktualisieren</f:link.action></h1>
		
		
	</div>

</f:section>