
<label for="taetigkeit">
	<f:translate key="tx_glshop_domain_model_bearbeitungen.taetigkeit" />
</label><br />
	<f:form.textfield property="taetigkeit" /><br />
<label for="haengtAbVon">
	<f:translate key="tx_glshop_domain_model_bearbeitungen.haengt_ab_von" />
</label><br />
	<f:form.textfield property="haengtAbVon" /><br />
<label for="zeitvorgabe">
	<f:translate key="tx_glshop_domain_model_bearbeitungen.zeitvorgabe" />
</label><br />
	<f:form.textfield property="zeitvorgabe" /><br />
<label for="einheit">
	<f:translate key="tx_glshop_domain_model_bearbeitungen.einheit" />
</label><br />
	<f:form.textfield property="einheit" /><br />
<label for="minBerechnung">
	<f:translate key="tx_glshop_domain_model_bearbeitungen.min_berechnung" />
</label><br />
	<f:form.textfield property="minBerechnung" /><br />