
<table class="tx-glshop" >
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_bearbeitungen.taetigkeit" />
		</td>
		<td>
		{bearbeitungen.taetigkeit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_bearbeitungen.haengt_ab_von" />
		</td>
		<td>
		{bearbeitungen.haengtAbVon}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_bearbeitungen.zeitvorgabe" />
		</td>
		<td>
		{bearbeitungen.zeitvorgabe}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_bearbeitungen.einheit" />
		</td>
		<td>
		{bearbeitungen.einheit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_glshop_domain_model_bearbeitungen.min_berechnung" />
		</td>
		<td>
		{bearbeitungen.minBerechnung}
		</td>
	</tr>
</table>