
<label for="name">
	<f:translate key="tx_glshop_domain_model_orderstate.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="value">
	<f:translate key="tx_glshop_domain_model_orderstate.value" />
</label><br />
	<f:form.textfield property="value" /><br />
<label for="acr">
	<f:translate key="tx_glshop_domain_model_orderstate.acr" />
</label><br />
	<f:form.textfield property="acr" /><br />
<label for="prefix">
	<f:translate key="tx_glshop_domain_model_orderstate.prefix" />
</label><br />
	<f:form.textfield property="prefix" /><br />