
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Productoption</h1>

<f:flashMessages />

<table  class="tx_glshop" >
	<tr>
		<th><f:translate key="tx_glshop_domain_model_productoption.article_nr" /></th>
		<th><f:translate key="tx_glshop_domain_model_productoption.description" /></th>
		<th><f:translate key="tx_glshop_domain_model_productoption.pic" /></th>
		<th><f:translate key="tx_glshop_domain_model_productoption.price" /></th>
		<th><f:translate key="tx_glshop_domain_model_productoption.from_size" /></th>
		<th><f:translate key="tx_glshop_domain_model_productoption.to_size" /></th>
		<th><f:translate key="tx_glshop_domain_model_productoption.width" /></th>
		<th><f:translate key="tx_glshop_domain_model_productoption.length" /></th>
		<th><f:translate key="tx_glshop_domain_model_productoption.height" /></th>
		<th><f:translate key="tx_glshop_domain_model_productoption.size" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{productoptions}" as="productoption">
		<tr>
			<td><f:link.action action="show" arguments="{productoption : productoption}"> {productoption.articleNr}</f:link.action></td>
			<td><f:link.action action="show" arguments="{productoption : productoption}"> {productoption.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{productoption : productoption}"> {productoption.pic}</f:link.action></td>
			<td><f:link.action action="show" arguments="{productoption : productoption}"> {productoption.price}</f:link.action></td>
			<td><f:link.action action="show" arguments="{productoption : productoption}"> {productoption.fromSize}</f:link.action></td>
			<td><f:link.action action="show" arguments="{productoption : productoption}"> {productoption.toSize}</f:link.action></td>
			<td><f:link.action action="show" arguments="{productoption : productoption}"> {productoption.width}</f:link.action></td>
			<td><f:link.action action="show" arguments="{productoption : productoption}"> {productoption.length}</f:link.action></td>
			<td><f:link.action action="show" arguments="{productoption : productoption}"> {productoption.height}</f:link.action></td>
			<td><f:link.action action="show" arguments="{productoption : productoption}"> {productoption.size}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{productoption : productoption}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{productoption : productoption}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Productoption</f:link.action>
</f:section>