
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Rahmenproduktvariante</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_glshop" >
	<tr>
		<th><f:translate key="tx_glshop_domain_model_rahmenproduktvariante.name" /></th>
		<th><f:translate key="tx_glshop_domain_model_rahmenproduktvariante.beschreibung" /></th>
		<th><f:translate key="tx_glshop_domain_model_rahmenproduktvariante.bild" /></th>
		<th><f:translate key="tx_glshop_domain_model_rahmenproduktvariante.art_nr" /></th>
		<th><f:translate key="tx_glshop_domain_model_rahmenproduktvariante.laenge" /></th>
		<th><f:translate key="tx_glshop_domain_model_rahmenproduktvariante.dicke" /></th>
		<th><f:translate key="tx_glshop_domain_model_rahmenproduktvariante.preis" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{rahmenproduktvariantes}" as="rahmenproduktvariante">
		<tr>
			<td><f:link.action action="show" arguments="{rahmenproduktvariante : rahmenproduktvariante}"> {rahmenproduktvariante.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{rahmenproduktvariante : rahmenproduktvariante}"> {rahmenproduktvariante.beschreibung}</f:link.action></td>
			<td><f:link.action action="show" arguments="{rahmenproduktvariante : rahmenproduktvariante}"> {rahmenproduktvariante.bild}</f:link.action></td>
			<td><f:link.action action="show" arguments="{rahmenproduktvariante : rahmenproduktvariante}"> {rahmenproduktvariante.artNr}</f:link.action></td>
			<td><f:link.action action="show" arguments="{rahmenproduktvariante : rahmenproduktvariante}"> {rahmenproduktvariante.laenge}</f:link.action></td>
			<td><f:link.action action="show" arguments="{rahmenproduktvariante : rahmenproduktvariante}"> {rahmenproduktvariante.dicke}</f:link.action></td>
			<td><f:link.action action="show" arguments="{rahmenproduktvariante : rahmenproduktvariante}"> {rahmenproduktvariante.preis}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{rahmenproduktvariante : rahmenproduktvariante}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{rahmenproduktvariante : rahmenproduktvariante}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Rahmenproduktvariante</f:link.action>
</f:section>